<!DOCTYPE html>
<html>

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no">
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" href="./styles/styles.css">
</head>

<body class="mt-5">
    <div class="container p-5">
        <!-- HEADER -->
        <div class="row">
            <div class="col mb-4">
                <h1 id="header">About Us: Bypassing NYU's Two-Factor Authentication System</h1>
                </br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 id="text">Team: Wagner, Justin, Dhanvin, Austin</h4>
                </br>
                 <h5 id="text">The aim of this project is to create a solution to bypass the two-factor authentication currently required to access NYU sites. Soon we will expand to provide solutions to a variety of other authentication platforms.</h5>
            </div>
        </div>

        <hr>
        <!-- LINK TO SIGNUP -->
        <div class="form-row">
            <div class="form-group col">
            <!-- readd "./index.html" -->
            <a href="./">Back To Sign Up</a>
            </div>
        </div>
    </div>
</body>

</html>
