<!DOCTYPE html>
<html>

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no">
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" href="./styles/styles.css">
</head>

<body class="mt-5">
    <div class="container p-5">
        <!-- HEADER -->
        <div class="row">
            <div class="col mb-4">
                <h1 id="header">How To Use Pushover</h1>
                </br>
                </br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 id="text">Click on the link below and follow the guide to link your new number to your NYU account</h4>
                </br>
                <a href="https://www.nyu.edu/life/information-technology/getting-started/netid-and-password/mfa.html">Guide: scroll down to the "add additional device" section</a>
                </br>
                </br>
                <h6 id="text">Note: Make sure to select this new number from the dropdown menu when logging into an NYU site and also select the option to call it as our service uses an automated call responder</h6>
                </br>
                </br>
                </br>
                </br>
            </div>
        </div>
        <!-- LINK TO SIGNUP -->
        <div class="form-row">
            <div class="form-group col">
            <!-- readd "./index.html" -->
            <a href="./">Back To Sign Up</a>
            </div>
        </div>
    </div>
</body>

</html>
