<!DOCTYPE html>
<html>

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no">
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">
</head>

<body class="mt-5">
<div class="container p-5">
    <!-- HEADER -->
    <div class="row">
        <div class="col mb-4">
            <h1 id="header">Contact Us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <h4 id="text">Phone(9am-5pm):</h4>
        </div>
        <div class="col mb-4">
            <h6 id="text">(212)...</h6>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <h4 id="text">Email:</h4>
        </div>
        <div class="col mb-4">
            <button onclick="window.open('mailto:<pushover.authentication@gmail.com>');">pushover.authentication@gmail.com</button>
        </div>
    </div>
    <p>Have a unique authentication system (need us to automatically
        input a pin or dial specific numbers)? Send us an email asking
        about simple changes we could make to our Twilio script and we
        will try to accommodate them for a small extra fee.</p>
    <button onclick="window.open('./report');">Issue with Number? Send Us A Report</button>
    <!-- LINK TO SIGNUP -->
    <div class="row">
        <div class="col mt-1">
            <!-- readd "./index.html" -->
            <a href="./">Back To Sign Up</a>
        </div>
    </div>
</div>
</body>

</html>